numpy>=1.16.2
EDFlib
mne>=1.3
mne_bids
pandas
xarray
scipy>=1.2.1
mne_icalabel
pyyaml
IProgress
ipywidgets
scikit-learn

# Dash
gunicorn>=19.8.1
dash>=1.0.0
dash-extensions>=0.1.7
colorlover>=0.2.1
dash_bootstrap_components

# Tutorial requirement
openneuro-py