/* time and channel slider */
.ch-slider-div {
    display: inline-block;
}



.rc-slider-handle:hover {
    border-color: #bed0e3;
}

.rc-slider-rail { 
    background-color: #bed0e3;
}

.rc-slider-handle {
    position: absolute;
    cursor: grab;
    background-color: #375A7F;
    border-color: #375A7F;
}
.rc-slider-handle:active {
    border-color: #bed0e3;
    background-color: #bed0e3;
}


.time-slider-div {
    width: 100%;
}
/* div and graphs for time-series graphs */

/* div for EEG/MEG, ICA timeseries, channel sliders, and time sider */
#channel-and-icsources-div {
    width: 55%;
    display: inline-block;
}

/* Format for Div encaspulating EEG/MEG and ICA timeseries */
.dcc-graph-div {
    width: 94%;
    display: inline-block;
    margin-top: 25;
    margin-bottom: 25;
    margin-left: 35;
    margin-right: 5,
}

/* Format for div encapsulating a single timeseries and associated ch slider */
.slider-and-figure-div {
    width: 100%;
    display: inline-block;
}

/* Format for each EEG/MEG/ICA timeseries */
.dcc-graph {
    width: 100%;
}


.topo-div {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin: 0px 0px 0px 5px;
}

#topo-graph-div {
    display: inline-block;
    width: 100%;
}

#topo-graph {
    display: inline-block;
}



.mne-viz-container-plot {
    border: 3px solid orange;
}


#plots-container {
    display: block;
}



/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.Select-control {
    /* Currently has no affect on qcr dashboard */
    color: #f54b08;
}
/* sets text color of dropdown options */
.Select {
    /* Currently has no affect on qcr dashboard */
    color: #424242;
    display: inline-block;
}
/* Sets color of dropdown options border */
.Select-menu-outer {
    /* Currently has no affect on qcr dashboard */
    background-color: #a5b1cd;
    border: 1px solid #212121;
}
/* Sets color of dropdown & options fill */
.Select div {
    /* color of file select box in qcr dashboard */
    background-color: #f2ebea !important;
}
/* Sets fill color of the selected row in the dropdown options */
.Select-menu-outer div:hover {
    /*  color of the selected dropdown row in qcr dashboard */
    background-color: rgba(98, 125, 152, .1) !important;
}
/* Sets font color of the text in the dropdown once a selection is made */
.Select-value-label {
    /* currently has no affect on qcr dashboard */
    color: #222222;
}
/* sets the thin border for the text in the dropdown. height option here is hacky
   way to get the border to fit the overall div. need to find a better solution. */
.Select--single > .Select-control .Select-value, .Select-placeholder {
    /* has affect on dropdown border on qcr dashboard */
    border: 1px solid rgba(128, 128, 128, 0.108) !important;
    border-radius: 4px;
    height: 120%;
}

/* Sets width of the dropdown box in qcr dashboard*/
.card {
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    width: 80% !important;
    padding: 0 2rem;
    display: inline-block;
}

#last-card {
    border-bottom: none;
}

.graph-title {
    font-size: 2rem;
    margin: 15% 0 0 25%;
}

#fileDropdown {
/* Sets width of the dropdown box in qcr dashboard*/
    display: inline-block !important;
    width: 80%
}