html[data-theme="light"] {
    --pst-color-primary: black;
}

html[data-theme="dark"] {
    --pst-color-primary: #FFFFFF;
    --pst-color-background: #0D1012;
    --pst-color-on-background: #0E1012;
}