@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

#body {
    padding-bottom: 5rem;
}

@media (max-width: 700px) {
    #body {
        width: 100%;
    }
}

/* Scalable Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container.scalable {
    width: 95%;
    max-width: none;
}

/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.banner {
    background-color: #2c2c2c;
    padding: 1rem 0;
    width: 100%;
    height: 15%;
    margin-bottom: 1rem;
    border-bottom: .01rem solid #515151;
}

.banner h2 {
    color: #a5b1cd;
    display: inline-block;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
}

.banner h2:hover {
    color: #b4b5bf;
    cursor: pointer;
}

.banner Img {
    position: relative;
    float: right;
    height: 5rem;
    margin-top: 1.25rem
}

@media (max-width: 1300px) {

    .banner .container.scalable {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .banner h2 {
        font-size: 4rem;
    }

    .banner Img {
        height: 8rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 700px) {
    .banner .container.scalable {
        padding: 0
    }

    .banner Img {
        height: 4rem;
        margin-bottom: 2rem;
    }

    .banner h2 {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .banner {
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    .banner Img {
        height: 3rem;
        margin-bottom: 1rem;
    }

    .banner h2 {
        font-size: 2.5rem;
    }
}

/* app-container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 951px) {
    #app-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}


#plots-container {
    display: flex;
}

/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.Select-control {
    color: #f54b08;
}
/* sets text color of dropdown options */
.Select {
    color: #424242;
    display: inline-block;
}
/* Sets color of dropdown options border */
.Select-menu-outer {
    background-color: #a5b1cd;
    border: 1px solid #212121;
}
/* Sets color of dropdown & options fill */
.Select div {
    background-color: #EAEAF2;
}
/* Sets fill color of the selected row in the dropdown options */
.Select-menu-outer div:hover {
    background-color: rgba(98, 125, 152, .1);
}
/* Sets font color of the text in the dropdown once a selection is made */
.Select-value-label {
    color: #222222 !important;
}
/* sets the thin border for the text in the dropdown. height option here is hacky
   way to get the border to fit the overall div. need to find a better solution. */
.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid gray;
    border-radius: 4px;
    height: 120%;
}

.card {
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    width: 80%;
    /* padding: 2rem 0; */
    display: inline-block;
}

#last-card {
    border-bottom: none;
}

.graph-title {
    font-size: 2rem;
    margin: 15% 0 0 25%;
}

#fileDropdown {
    display: inline-block;
    width: 80%
}

#button-zero-threshold {
    background-color: #2f3445;
    color: #a5b1cd;
    border-color: gray;
}

#button-zero-threshold:hover {
    border-color: white;
}

#button-card {
    display: flex;
    flex-direction: column;
}

#first-card {
    padding-top: 0;
}

@media (max-width: 1500px) {
    .rc-slider-mark-text {
        font-size: 0.7vw;
    }
}

@media (max-width: 950px) {
    .rc-slider-mark-text {
        font-size: 1.5vw;
    }
}


@media (max-width: 650px) {
    .rc-slider-mark-text {
        font-size: 2vw;
    }
}


@media (min-width: 1301px) {
    #left-column {
        flex: 1 20%;
        margin: 0 3rem 0 0;
        max-height: 83rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .card {
        padding-left: 2rem;
    }
}

@media (max-width: 1300px) {
    #left-column {
        flex: 1 20%;
        margin: 0 3rem 0 0;
        max-height: 70rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (max-width: 1200px) {
    #button-zero-threshold {
        font-size: 0.8rem;
        padding: 0
    }
}

@media (max-width: 950px) {
    #button-zero-threshold {
        font-size: 1.0rem;
        padding: 0
    }
}

@media (max-width: 950px) {
    #left-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-height: none;
        max-width: none;
    }
}

@media (max-width: 700px) {
    #first-card {
        margin: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* Slider Divs
-------------------------------------------------- */

.slider-div {
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.rc-slider-track {
    background-color: #3B3B3B;
    color: #222222;
    padding: 25px 0px 25px 0px;
    margin: 0px;
}

.rc-slider-handle {
    border: solid 2px #3B3B3B;
    color: #222222;
}

#slider-time {
    width: 90%;
    margin: 0px 0px 0px 80px;
}

#slider-channel {
    width: 90%;
    padding: 25px 0px 25px 0px;
}

#slider-ica_source {
    width: 90%;
    padding: 25px 0px 25px 0px;
}

/* Timeseries Divs 
-------------------------------------------------- */
.timeseries-container {
    width: 70%;
    border: 2px solid red;

}
.outer-timeseries-div {
    display: flex;
    margin: 0px 0px 20px  0px;
}
.timeseries-div {
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.dcc-graph-timeseries {
    border-radius: 15px;
    background-color: #FAFAFA;
}

/* Left column
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#slider-svm-parameter-C-coef {
    padding: 5px 10px 25px;
}

#slider-svm-parameter-gamma-coef {
    padding: 5px 10px 25px
}

#shrinking-container {
    padding: 20px 10px 25px 4px
}

/* Graph container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#svm-graph-container {
    margin-top: 0.5rem;
}

#svm-graph-container .graph-wrapper {
    height: 100%;
    width: 100%;
}

@media (min-width: 951px) {
    #graphs-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    #graphs-container .graph-wrapper {
        flex: 1 50%;
    }

    #graph-line-roc-curve, #graph-pie-confusion-matrix {
        height: 100%;
        width: 100%;
    }

    #div-graphs {
        flex: 4 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    #graph-sklearn-svm {
        height: 100%;
    }

    #svm-graph-container {
        flex: 2 66%;
    }

    #graphs-container {
        flex: 1 33%;
        margin-top: 0.5rem;
    }
}

@media (min-width: 1301px) {
    #div-graphs {
        height: 83rem;
    }
}

@media (max-width: 1300px) {
    #div-graphs {
        height: 70rem;
    }

    .gtitle {
        font-size: 1.25rem !important;
    }

    .xtitle, .ytitle {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 950px) {
    #div-graphs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #svm-graph-container {
        width: 80vw;
        height: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4rem;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }

    #svm-graph-container .graph-wrapper {
        width: 80vw;
        height: 80vw;
    }

    #graphs-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 90%;
        max-width: 90%;
        margin: 0 0 0 -1rem;
        max-height: none;
    }

    #graphs-container .graph-wrapper:nth-of-type(1) {
        height: 40rem;
        margin: 3rem 0 1rem -3rem;
        width: 100%;
    }

    #graphs-container .graph-wrapper:nth-of-type(2) {
        height: 60rem;
        margin-bottom: 5rem;
        width: 100%;
    }

    #graph-sklearn-svm, #graph-line-roc-curve, #graph-pie-confusion-matrix {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 650px) {
    #graphs-container {
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    #graph-line-roc-curve {
        width: 95%;
        margin: 3rem 0 1rem 0;
    }

    #graph-pie-confusion-matrix {
        width: 95%;
        margin-bottom: 5rem;
    }

    #graphs-container .graph-wrapper:nth-of-type(1) {
        height: 35rem;
    }

    #graphs-container .graph-wrapper:nth-of-type(2) {
        height: 45rem;
        padding-left: 3rem;
    }
}

@media (max-width: 400px) {
    #graphs-container .graph-wrapper:nth-of-type(1) {
        height: 25rem;
    }

    #graphs-container .graph-wrapper:nth-of-type(2) {
        height: 40rem;
        padding-left: 3rem;
    }
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#graph-line-roc-curve .modebar, #graph-pie-confusion-matrix .modebar {
    display: none;
}
