aref_trim: 30
bridge:
    bridge_trim: 40
    bridge_z: 6
ch_ch_sd:
    flag_crit: 0.2
    outlier_method: quantile
    outliers_kwargs:
        k: 3
        lower: 0.15
        upper: 0.85
ch_low_r:
    flag_crit: 0.2
    outlier_method: quantile
    outliers_kwargs:
        k: 3
        lower: 0.15
        upper: 0.85
epoch_ch_sd:
    flag_crit: 0.2
    outlier_method: quantile
    outliers_kwargs:
        k: 3
        lower: 0.15
        upper: 0.85
epoch_gap:
    min_gap_ms: 2000
epoch_low_r:
    flag_crit: 0.2
    outlier_method: quantile
    outliers_kwargs:
        k: 3
        lower: 0.15
        upper: 0.85
epoching:
    epochs_args:
        baseline: null
        tmax: 1
        tmin: 0
    overlap: 0
filtering:
    filter_args:
        h_freq: 30
        l_freq: 1
    notch_filter_args:
        freqs: []
find_breaks:
    ignore:
    - boundary
    - e-255
    min_break_duration: 10
    t_start_after_previous: 3
    t_stop_before_next: 0
ica:
    ic_ic_sd:
        flag_crit: 0.2
        outlier_method: quantile
        outliers_kwargs:
            k: 6
            lower: 0.3
            upper: 0.7
    ica_args:
        run1:
            max_iter: auto
            method: fastica
            random_state: 97
        run2:
            fit_params:
                extended: true
            max_iter: auto
            method: infomax
            random_state: 97
in_path: []
montage_info:
- 0.0
- -16.0
- 0.0
- -0.02
- 0.0
- -1.58
- 10.7
- 11.5
- 11.5
nearest_neighbors:
    n_nbr_ch: 3
    n_nbr_epoch: 3
order: 1
out_path: derivatives/EEG-IP-L
project:
    analysis_montage: biosemi128
    bids_montage: GSN-HydroCel-129
    coordsys:
        EEGCoordinateSystem: Other
        EEGCoordinateUnits: metres
    readme: '# Q1K ACAR Dataset'
    set_montage_kwargs: {}
ref_loc_file: derivatives/EEG-IP-L/code/misc/standard_1020_ll_ref19.elc
save_f_res: 1
sd_t_pad: 1
