name: Style, Spellcheck, & Docstring

on: pull_request

jobs:
  style:
    name: Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v3.0.0
      - name: Install dependencies
        run: pip install -r requirements_testing.txt
      # Run Ruff
      - name: Run Ruff
        run: ruff pylossless
      # Run Codespell
      - name: Run Codespell
        run: codespell pylossless
