name: Test pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *' # Runs at Midnight UTC every day

jobs:
  test:
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest # arm64 (Apple Silicon)
          - macos-14  # MacOS Sonoma Arm64 (Apple Silicon)
          - windows-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install Pylossless & Deps
        run: pip install -e .
      - name: Test import
        run: |
          python -c "import pylossless"
      - name: Install testing dependencies
        run: pip install -r requirements_testing.txt
      - name: Install QC depedencies
        run: pip install -r requirements_qc.txt
      - name: Test Pipeline
        run: |
          coverage run -m pytest
      - name: Upload coverage to codecov (Only do this for the ubuntu-latest job)
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
